@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 11pt;
}
body {
    height: 96.5vh;
}
p {
    margin-top: 10px;
    line-height: 1.5;
}
nav.closeable {
    display: flex;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    background-color: whitesmoke;
    z-index: 1;
    gap: 12px;
    padding: 8px;
}
nav.closeable a {
    text-decoration: none;
    color: dodgerblue;
    font-weight: 600;
    transition: all 0.25s ease;
}
nav.closeable a:hover {
    font-size: 1.25rem;
}
.card {
    width: 360px;
    border-radius: 8px;
    margin: auto;
}
.border {
    border: 1px solid #dfdfdf;
}
.card .content {
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card img {
    display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.card .icons i {
    font-size: 2rem;
}
.card-title {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.user {
    display: flex;
}
.user img {
    width: 28px;
    border-radius: 50%;
    margin-right: 8px;
}
.user span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.stat {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.stat span {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 0.9rem;
}
.stat span i {
    font-size: 18px;
}
.success {
    padding: 5px;
    border-radius: 5px;
    background-color: #eefff7;
    color: #2b806b;
    font-weight: bold;
    border: 1px solid #ceeadb;
    font-size: 0.75rem;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w-100 {
    width: 100%;
}
.rows {
    justify-content: center;
    display: flex;
    gap: 20px;
}
.border-dash {
    border: 1px dashed lightgray;
    padding: 10px;
    border-radius: 8px;
}
.border-dash p {
    margin: 0;
}
.border-dash p:first-child {
    font-weight: bold;
}
.border-dash p:last-child {
    font-size: 0.9rem;
}
.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}
.radius {
  border-radius: 12px;
  overflow: hidden;
  border-bottom: none;
}
.blue-bottom {
  height: 4px;
  background-color: #327feb;
}
img.icon {
    width: 64px;
    cursor: pointer;
    margin-bottom: 16px;
}
#more {
    cursor: pointer;
}
#lloyd {
    cursor: pointer;
}

/* Forms */
form {
    width: 360px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
form .header {
    font-size: 1.5rem;
    font-weight: 650;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}
form .header~span {
    font-size: 1.08rem;
    font-weight: 650;
    display: block;
    text-align: center;
    margin-bottom: 28px;
}
form .header~span a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}
form .header~span a:hover {
    color: #2b7efe;
}
a[role="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: #e4e4e4 1px solid;
    width: 100%;
    text-align: center;
    padding: 6px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    margin-top: 10px;
    padding: 8px;
}
.divider {
    display: flex;
    gap: 10px;
    margin: 24px 0;
}
.divider span {
    color: gray;
    font-weight: bold;
}
.divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ebebeb;
    margin: auto 0;
}
form label {
    font-weight: 500;
}
form label a {
    text-decoration: none;
    color: #2b7efe;
    font-weight: 600;
}
form input {
    font-size: 1rem;
    padding: 8px 14px;
    margin-top: 5px;
    margin-bottom: 24px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
form input:focus {
    outline: none;
    border-color: #2b7efe;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-group {
    position: relative;
}
.inp-group i {
    font-size: 1.25rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
    cursor: pointer;
}
.inp-group input {
    width: 100%;
    box-sizing: border-box;
}
.remember-me {
    display: flex;
    align-items: center ;
    gap: 8px;
    margin-bottom: 8px;
}
.remember-me input[type="checkbox"] {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    appearance: none;
    position: relative;
    border-color: #e3e3e3;
    transition: all 0.2s ease;
}
.remember-me input[type="checkbox"]:checked {
    background-color: dodgerblue;
}
.remember-me input[type="checkbox"]:checked::before {
    content: "✓";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}
.remember-me input[type="checkbox"]:focus {
    box-shadow: none;
}
.remember-me label {
    user-select: none;
    font-weight: 650;
}
.submit-btn {
    background-color: #2b7efe;
    color: white;
    border: none;
    font-size: 1.05rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}