body {
    height: 96.5vh;
}
.card {
    width: 360px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    padding: 32px;
    font-family: Arial, sans-serif;
    margin: auto;
}
.card div {
    display: flex;
    justify-content: space-between;
}
.card .icons i {
    font-size: 24px;
}
#more {
    cursor: pointer;
}
.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 18px;
    display: block;
}
p {
    margin-top: 10px;
    line-height: 1.5;
}