:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
body {
    height: 96.5vh;
}
p {
    margin-top: 10px;
    line-height: 1.5;
}
.card {
    width: 360px;
    border-radius: 8px;
    margin: auto;
}
.border {
    border: 1px solid #dfdfdf;
}
.card .content {
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card img {
    display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.card .icons i {
    font-size: 2rem;
}
.card-title {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.user {
    display: flex;
}
.user img {
    width: 28px;
    border-radius: 50%;
    margin-right: 8px;
}
.user span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.stat {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.stat span {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 0.9rem;
}
.stat span i {
    font-size: 18px;
}
.success {
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.219);
    color: darkgreen;
    font-weight: bold;
    border: 1px solid rgba(0, 128, 0, 0.26);
    font-size: 0.9rem;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w-100 {
    width: 100%;
}
.rows {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.border-dash {
    border: 1px dashed lightgray;
    padding: 10px;
    border-radius: 8px;
}
.border-dash p {
    margin: 0;
}
.border-dash p:first-child {
    font-weight: bold;
}
.border-dash p:last-child {
    font-size: 0.9rem;
}
.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}
.blue-bottom {
    border-bottom: 4px solid rgb(44, 83, 255);
}
img.icon {
    width: 64px;
    cursor: pointer;
}
#more {
    cursor: pointer;
}
#lloyd {
    cursor: pointer;
}